*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-button {
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: #000;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #1879ef;
}

body {
    position: relative;
    height: 100%;
    background-color: #111;
    background: linear-gradient(to top right, rgb(160, 160, 162), rgb(108, 108, 108));
    background-position: center;
    background-repeat: no-repeat;
    .content {
        position: relative;
        display: block;
        .margin-center {
            position: relative;
            width: 50%;
            margin: 20px auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            @media screen and (max-width: 780px) {
                & {
                    display: grid;
                    grid-template-columns: 1fr;
                    width: 90%;
                }
            }
            .card {
                position: relative;
                width: 100%;
                background: #eee;
                background-color: linear-gradient(45deg, red, black);
                padding: .5rem;
                overflow: hidden;
                border-radius: 1rem;
                margin: 10px auto;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.05);
                .body {
                    background: #eee;
                    background-color: rgb(245, 245, 187);
                    padding: 1rem;
                    width: 100%;
                    max-height: 250px;
                    overflow: auto;
                    h1,
                    h2,
                    h3,
                    h4,
                    p {
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
                .footer {
                    position: relative;
                    padding: .5rem;
                    .flex {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        button {
                            border: none;
                            outline: none;
                            cursor: pointer;
                            background: none;
                            padding: .8rem;
                            border-radius: .4rem;
                            color: #fff;
                            background-color: #1879ef;
                        }
                        small {
                            font-family: ubuntu, calibri;
                        }
                    }
                }
            }
        }
    }
}