*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    position: relative;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}