*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    position: relative;
    width: 100%;
    padding: 0;
    background: linear-gradient(200deg, rgb(0, 129, 161), rgb(180, 1, 141));
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.content .sidebar{
    height: 100vh;
    width: 100%;
}
.content .sidebar, .content .main{
    overflow-y: auto;
    height: 100vh;
}

.content .main{
    background: #fff;
    padding: 10px;
    border-radius: 20px 0 0 20px;
}

.list{
    list-style: none;
    display: block;
    width: 100%;
}
.list li{
    display: block;
    color: #2b2b2b;
    background: #686868b6;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}
.list li:hover, .list li:active{
    color: black;
    background-color: #fff;
}
