<% include header %>
    <div class="container">
        <h3>CRUD Sequelize</h3>
        <div class="row">
            <div class="col-md-4">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Enter your username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="fullname">Fullname</label>
                        <input type="text" name="fullname" id="fullname" placeholder="Enter the Fullname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter your mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Register</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <h3>Data</h3>
            </div>
        </div>
    </div>

    <% include footer %>